.balloon-content-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 150px;

  .balloon-header {
    .title {
      font-weight: bold;
      align-self: center;
    }
  }

  .balloon-footer {
    font-style: italic;
    align-self: center;
  }
}
