.ballon-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 150px;

    .ballon-header {
        .title {
            font-weight: bold;
            align-self: center;
        }
    }

    .ballon-footer {
        font-style: italic;
        align-self: center;
    }
}